<div class="container-fluid">
    <div class="row">
        <div class="col-1">
            <h1 class="text-dark mb-0 mt-2 text-nowrap">{{category.name}}</h1>
            <h6 class="text-gray-400 text-nowrap">Показатели {{yearsGraph[1] + " - " + yearsGraph[yearsGraph.length-1]}} годов</h6>
        </div>
        <!--<div class="col d-xl-flex align-items-xl-center">
            <div class="border rounded d-flex d-xl-flex align-items-xl-center" style="background-color: #dcffc1;padding-right: 20px;padding-left: 20px;">
                <p class="d-flex d-xl-flex justify-content-center align-items-center align-self-center justify-content-xl-center align-items-xl-center">Принято ФИО ДАТА</p>
            </div>
        </div>-->
    </div>
    <div class="row">
        <div class="col-9">
            <div class="card mb-3" style="min-height: 400px; max-height: 400px;">
                <div class="card-header   border-bottom-0 p-3" >    
                    <ul class="nav nav-tabs" >
                        <li ng-repeat="year in yearsGraph" class="nav-item" ng-click="selectYear(year)"><a ng-class="{'active':currentYear == year }" data-toggle="tab"  class="nav-link" href="">{{year}}</a></li>
                    </ul>
                </div>
                <div class="card-body " >
                    <div >
                        <canvas id="canvas" style="position: relative; height:290px!important; width:80vw; max-height: 290px;" class="chartjs-render-monitor"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="min-height: 400px; max-height: 400px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h4>Ответственный по внесению</h4>
                            <h6 class="text-muted mb-2">текст</h6>
                        </div>

                    </div>
                    <div class="table-responsive table mt-2" id="dataTable-2" role="grid" aria-describedby="dataTable_info" style="color: rgb(255,255,255);">
                        <table class="table my-0" id="dataTable">
                            <thead>
                            <tr>
                                <th>Ответственный</th>
                                <th>% пред</th>
                                <th>Кол-во</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><img class="rounded-circle mr-2" width="30" height="30" src="assets/img/avatars/avatar1.jpeg">Airi Satou</td>
                                <td>10</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td><img class="rounded-circle mr-2" width="30" height="30" src="assets/img/avatars/avatar2.jpeg">Angelica Ramos</td>
                                <td>10</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td><img class="rounded-circle mr-2" width="30" height="30" src="assets/img/avatars/avatar3.jpeg">Ashton Cox</td>
                                <td>10</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td><img class="rounded-circle mr-2" width="30" height="30" src="assets/img/avatars/avatar4.jpeg">Bradley Greer</td>
                                <td>10</td>
                                <td>10</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr></tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-9">
            <div class="card" style="margin-bottom: 30px;">
                <div class="card-body">
                    <div class="row" style="margin-bottom: 30px;">
                        <div class="col">
                            <h4>Прогресс по категориям</h4>
                            <h6 class="text-muted mb-2">Выберите модель для автоматического расчета значений</h6>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 30px;">
                        <div class="col-3">
                            <div class="form-check"><input class="form-check-input" type="checkbox" ng-model="isAuto" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Автоматическая вызгрузка</label></div>
                        </div>
                        <div class="col">
                            <ui-select ng-model="func.selected"
                                       theme="selectize"
                                       style="width: 245px !important;">
                                <ui-select-match placeholder="Выберите функцию для расчета..."><span>{{func.selected.name}}</span></ui-select-match>
                                <ui-select-choices repeat="func in functions | filter:$select.search">
                                    {{func.name}}
                                </ui-select-choices>
                            </ui-select>

                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 30px;">
                        <div class="col-3">
                            <div class="form-check"><input class="form-check-input" ng-click="acceptedChosen()" ng-model="isAccepted" type="checkbox" id="formCheck2"><label class="form-check-label" for="formCheck2">Автоматический расчёт</label></div>
                        </div>
                        <div class="col">
                            <ui-select ng-model="model.selected"
                                       ng-change="getPredictionByModel()"
                                       theme="selectize"
                                       style="width: 245px !important;">
                                <ui-select-match placeholder="Выберите модель..."><span>{{model.selected.title}}</span></ui-select-match>
                                <ui-select-choices repeat="model in models | filter:$select.search">
                                    {{model.title}}
                                </ui-select-choices>
                            </ui-select>

                        </div>
                    </div>                               
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row" style="margin-bottom: 30px;">
                        <div class="col">
                            <h4>Кварталы</h4>

                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 30px;">
                        <div class="col-3">
                            <label for="nm1" class="text-left">Квартал 1<strong class="redStar">*</strong></label>
                            <div>
                                <input id="nm1" ng-class="{'ng-invalids':addError&&!q1}" placeholder="Заполните данные" class="form-control" type="text" ng-model="q1" />
                            </div>
                            <p class="mb-0 mt-1">{{showPredictionQuartals ? prediction[currentYear][0] : ''}}</p>
                        </div>
                        <div class="col-3">
                            <label for="nm2" class="text-left">Квартал 2<strong class="redStar">*</strong></label>
                            <div>
                                <input id="nm2" ng-class="{'ng-invalids':addError&&!q2}" placeholder="Заполните данные" class="form-control" type="text" ng-model="q2" />
                            </div>
                            <p class="mb-0 mt-1">{{showPredictionQuartals ? prediction[currentYear][1] : ''}}</p>
                        </div>
                        <div class="col-3">
                            <label for="nm3" class="text-left">Квартал 3<strong class="redStar">*</strong></label>
                            <div >
                                <input id="nm3" ng-class="{'ng-invalids':addError&&!q3}" placeholder="Заполните данные" class="form-control" type="text" ng-model="q3" />
                            </div>
                            <p class="mb-0 mt-1">{{showPredictionQuartals ? prediction[currentYear][2] : ''}}</p>
                        </div>
                        <div class="col-3">
                            <label for="nm4" class="text-left">Квартал 4<strong class="redStar">*</strong></label>
                            <div>
                                <input id="nm4" ng-class="{'ng-invalids':addError&&!q4}" placeholder="Заполните данные" class="form-control" type="text" ng-model="q4" />
                            </div>
                            <p class="mb-0 mt-1">{{showPredictionQuartals ? prediction[currentYear][3] : ''}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="min-height: 400px; max-height: 400px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h4>Зависимые параметры</h4>
                           <!-- <h6 class="text-muted mb-2">текст</h6>-->
                        </div>

                    </div>
                    <div class="table-responsive table mt-2" id=" " ng-class="{'ng-invalids':addError && !isAnySelected}" role="grid" aria-describedby="dataTable_info" style="color: rgb(255,255,255);">
                        <table class="table my-0" id="dataTable1">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Параметр</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="category in subCategories">
                                <td >
                                    <input type="checkbox" id="cat{{$index}}" ng-click="reBuildModel(category)" ng-checked="category.isSelected">
                                </td>
                                <td>
                                    <label for="cat{{$index}}">{{category.name}}</label>
                                </td>
                                <td>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="pt-2"><button ng-click="addPeopleManage()" class="btn btn-primary" type="button">Принять</button></div>
        </div>
    </div>
</div>