<div class="container-fluid p-3" ng-show="!user || !user.user_id">
    <div>Недостаточно учетных данных <a href="#/login">Войти</a> </div>
</div>
<div ng-show="user && user.user_id" class="container-fluid">
    <div class="row" style="margin-bottom: 19px;">
        <div class="col-8 d-xl-flex justify-content-between align-items-xl-center">
            <h1 style="font-family: Montserrat, sans-serif;">Пользователи</h1><button class="btn" type="button" style="height: 55px;background: linear-gradient(-92deg, #2a8bf2, #7cb8f7);color: rgb(255,255,255);font-family: Montserrat, sans-serif;width: 257px;">
            <i class="fas fa-plus" style="margin-right: 9px;"></i>Новый пользователь</button>
        </div>
        <div class="col">

        </div>
    </div>
    <div class="row" style="height: 92%;">
        <div class="col-8" style="margin-right: 24px;">
            <div class="card">
                <div class="card-body" style="padding: 0px;">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr style="height: 65px;">
                                <th class="pointer"></th>
                                <th class="pointer">ФИО</th>
                                <th class="pointer">Логин</th>
                                <th class="pointer">Компания</th>
                                <th class="pointer">Подразделение</th>
                                <th class="pointer">Должность</th>
                                <th class="pointer" ng-if="user.role == 1">Действие</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="user in users">
                                <td>{{$index+1}}</td>
                                <td>
                                    <span>{{user.lastname + ' ' + user.firstname + ' '+ user.surname}}</span>
                                </td>
                                <td>
                                    <span>{{user.company}}</span>
                                </td>
                                <td>
                                    <span>{{user.department}}</span>
                                </td>
                                <td>
                                    <span>{{user.position}}</span>
                                </td>
                                <td>
                                    <div class="btn-group " ng-class="{'open': user.isOpenedEdit}">
                                        <a ng-click="user.isOpenedEdit=!user.isOpenedEdit" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                                            <span class="fa fa-caret-down" title="Действия по пользователю"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href=""><i class="fa fa-pencil fa-fw"></i>Редактировать</a></li>
                                            <li><a href=""><i class="fa fa-trash-o fa-fw"></i> Удалить</a></li>
                                            <li class="divider"></li>
                                            <li><a ng-click="user.isOpenedEdit=!user.isOpenedEdit" href=""><i class="fa fa-unlock"></i>Закрыть</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col" style="margin-bottom: 25px;">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Title</h4>
                            <h6 class="text-muted card-subtitle mb-2">Subtitle</h6>
                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><a class="card-link" href="#">Link</a><a class="card-link"
                                                                                                                                                                                                                                                                   href="#">Link</a></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Title</h4>
                            <h6 class="text-muted card-subtitle mb-2">Subtitle</h6>
                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><a class="card-link" href="#">Link</a><a class="card-link"
                                                                                                                                                                                                                                                                   href="#">Link</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
